@charset "utf-8";
/* CSS Document */


.testimonial-area{
   
   padding-top: 70px;
   padding-bottom: 20px;
   /*background: #f7f7f7;*/
}


.single-testimonial{

	color: #fff;
	padding-left: 75px;
	position: relative;
	margin: 0 15px 15px;
}

.img-area{

	border-radius: 50%;
	height: 150px;
	left: 0;
	margin-top: -75px;

	position: absolute;
	top: 50%;
	width: 150px;
}

/*.testi-text{
    
    background: #FFFF4A;
    padding: 40px 20px 40px 100px;
    color: #262626;
}

*/

.testi-text{
    
   
    padding: 40px 20px 40px 100px;
    color: #262626;
    
    background: #f7f7f7;

    -moz-box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888; 
	box-shadow: 10px 10px 5px #888888;
}

/*.testi-text:hover{
	 -moz-box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888; 
	box-shadow: 10px 10px 5px #888888;
}

*/

.img-area> img{

	background: linear-gradient(to bottom, #00FFFF, 
#3399FF,  
#00FF00);
	border-radius: 50%;
	padding: 5px;
}

.testi-text h4{

	font-size: 1.5em;
	margin-top: 30px;
	font-family: Shrikhand;
	font-weight: 600;
}

.testi-text h4 span{

	display: block;
	font-size: 18px;
	color: #009688;
}

.testi-text p{

	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	font-size: 18px;
	
}

/*.single-testimonial:hover .testi-text{

	background: #fff;
	transition: 0.9s;
}

*/


.testimonial-area div.owl-nav{

	color: #f6783a;
	display: inline-block;
	font-size: 55px;
	height: 60px;
	margin-top: -30px;
	text-align: center;
	width: 40px;
	transition: 0.3s;
}


.owl-next{

	position: absolute;
	right: -20px;
	top:100px;
}

.owl-prev{
left: -20px;
	top:100px;
	position: absolute;
}

/*resposive*/

@media only screen and (max-width: 767px){

	.testimonial-area{
           
           padding: 15px 0;
     }

     .single-testimonial{

     	padding-left: 15px;
     	padding-top: 75px;
     }

     .img-area{

     	left: 50%;
     	margin-left: -75px;
     	top: 75px;
     }

     .testi-text{

     	padding: 80px 25px 25px;
     }

     .testi-text h4{

     	font-size: 20px;
     	margin-bottom: 20px;
     }

     .testi-text p{

     	 font-size: 16px;
     }

     .owl-prev{

     	 left: -15px;
     	 top: 150px;
     } 

     .owl-next{

     	 right: -15px;
     	 top: 150px;
     } 
}





	